/.idea
.idea
/.buildpath
/.project
/.settings
/.svn
/logs
/data
/.viminfo
/.sh_history
/.mysql_history
/.history
/root.txt
/robots.txt
*.pyc
*.pyx
/etc/*
__pycache__
/build
*.o
*.so
*.a
*.obj
*.dll
*.lib

